<!DOCTYPE html>
<html>
<head>
  <title>Mending.Me | Tales of triumph</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= disqus_init, disqus_url = "www.mending.io" %> 
</head>

<body>
  <%= render 'posts/sidebar' %>

  <div id="main_content">
  	<%= render 'posts/header' %>

  	<% flash.each do |name, msg| %>
  	<%= content_tag(:div, msg, class: "alert")%>
  	<% end %>

  	<%= yield %>
  </div>
</body>
</html>
